html,
body 
{
  /* remove all unnecessary whitespace from doc */
  margin: 0;
  padding: 0;
  height: 100%;
  
  /* body style */
  background-color: #101A1A;
  
}

#container 
{
  /* Cover the entire viewport vertically */
  min-height: 100%;
  /* Center the content div */
  position: relative;
  margin: 0 auto;
  /* Setup horizontal constraints */
  max-width: 80%;
  min-width: 550px;

  
  border-right-style: solid;
  border-left-style: solid;
  border-width: 100%;
  border-color: #101010;
  
  background: #1f1f1f;
    
}

#header 
{
  padding-top: 10px;
  padding-bottom: 30px;
  background: #101010;
  
  text-align:center;
  
}

#body 
{
  padding: 10px;
  /*padding-bottom: 60px;*/
  /* text styling */
  word-wrap: break-word;
  font-family: Verdana, Geneva, sans-serif;
  font-size:      15pt ;
  color:          grey ;
  letter-spacing: -0.25px  ;
  text-align:     left ;    
  font-weight: normal;
  
  
  
  position: relative;
  
  
}

#footer 
{
  /* force footer to bottom of viewport */
  position: absolute;
  bottom: 0;
  /* expand to 100% of container horizontally */
  width: 100%;
  /* set height */
  height: /*60px;*/8%;
  /* set bg */  
  background: #101010;
  
}

/*========================*/
/* Header element styling */
/*========================*/
.header__addressDisplay
{
    float: left;
    
}

.header__dropdownButton
{
    float: right;
    padding-right: 30px;
    
}
