<!doctype html>
<html lang="en">
    <head>
        <title>Joseph Cameron - Game Programmer Portfolio</title>

        <!-- meta data -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="video player">
        
        <!-- CSS includes -->
        <link rel="stylesheet" href="override.css" type="text/css"/>
        
    </head>
    
    <body>
        
        <div id="downloadlink">hello</div>
        <iframe id="document-view" src="" frameborder="0"></iframe>

        
        
        <!-- JS includes -->
        <script src="../../js/common.js"></script>
        <script src="custom.js"></script>
        
    </body>
    
</html>