/*  
 *  Filename: Main.css
 *  Description: defines page layout & layout element style
 *   depends on pure.css (http://purecss.io/)
 *  
*/

/* ************************************************ */
/*                 LAYOUT DEFINITION                */
/* ************************************************ */
body, html 
{
    background-color:#DDD;
    height: 100%;
    margin: 0; 
    padding: 0;
    width: 100%;
    
    
    
}

#header
{
    background-color:#191818;
    
}

#layout
{
    background-color:#f8f8f8;
    /*height:100%;*/
    margin-left: auto ;
    margin-right: auto ;
    max-width: 1400px;
    /*min-height:100%;*/
    min-width: 400px;
    padding:0px;    
    position:relative;
    
    
}

#footer
{
    background:#f3f3f3;
    bottom:0;
    height:75px;
    position:relative;
    width:100%;
    margin-top:20px;
    
}



#main
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position:relative;
    
}

/* ************************************************ */
/*                  HEADER ELEMENTS                 */
/* ************************************************ */
.menu__rightlist
{
    display:inline-block;
    direction: ltr;

}

/* ************************************************ */
/*                  FOOTER ELEMENTS                 */
/* ************************************************ */
.buildTimeStamp
{
    color:#b0b0b0;
    display:inline-block;
    float:right;
    font-size:10px;
    margin:10px;
    margin-top:0px;
    text-align:right;
    
    
}
.signature
{
    color:#777777;
    display:inline-block;
    font-size:12px;
    margin:10px;

    width:100%;
    text-align: center;
    
}

#timestampValue
{
    display:inline;
    
    color:#777777;

}

#subDirectories
{
    /*background-color:yellow;*/

border-style:line;
    border-bottom: 1px solid #cbcbcb;

}

/*tr:nth-child(even){background-color: #f2f2f2;}*/

tbody tr:hover {background-color: #f2f2f2;}
tr
{
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

/* ************************************************ */
/*                  MAIN ELEMENTS                   */
/* ************************************************ */
.FileBrowser
{
    background-color: #f3f3f3;
    box-shadow: 10px 10px #c0c0c0;
    border-style:line;
    margin-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    width:auto;
    
}

.FileBrowser__DirectoryListing
{
    width:100%;
   
    
}

.FileBrowser__DirectoryNameDisplay
{
    background-color: #1f8dd6;
    color: #fff;
    font-size: 110%;
    letter-spacing: 1.5px;
    padding-left:20px;
    
}

.FileBrowser__DirectoryListing tbody
{
    background-color:#fafafa;
    
}

.FileBrowser__DirectoryListing th:nth-child(2)
{
    text-alight:left;

}
.FileBrowser__DirectoryListing th:nth-child(1)
{
     text-alight:right;
     width:25px;

}


/*  Link styling    */
a:link {text-decoration:none;}   
a:visited {text-decoration:none;} 
a:hover {text-decoration:underline;}  
a:active {text-decoration:underline;}  
/*a{color: #7788FF;}*/

a.readmore
{
    display: inline-block;

}

a.readmore img
{
    display: inline-block;
    padding-left: 5px;
    height: 16px;

}

a.github img
{
    display: inline-block;
    padding-left: 5px;
    height: 16px;

}