<!doctype html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width; target-densityDpi=device-dpi;" />
        
    </head>
    
    <!--**************-->
    <!-- CSS includes -->
    <!--**************-->
    <link rel="stylesheet" href="image.css" type="text/css"/>

    <body>
        <a href="" id="downloadlink"><img id="image"></a>
    
        <script type="text/javascript">
            function $_GET(param) 
            {
                var vars = {};
                window.location.href.replace( location.hash, '' ).replace
                ( 
                    /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                    function( m, key, value ) { // callback
                        vars[key] = value !== undefined ? value : '';
                    }
                
                );
            
                if ( param ) 
                {
                    return vars[param] ? vars[param] : null;	
                
                }
                
                return vars;
            
            }
        
            console.log($_GET("f"));
        
            var src =($_GET("f")? $_GET("f"): "/");
            
            img = document.getElementById('image');
            img.src = src;
            document.getElementById('downloadlink').href = src;
            //document.body.appendChild(img);
        
        </script>
        
    </body>
    
    
    
</html>